:root{
  font-family: "Poppins", serif;
  font-style: normal;
  word-break: break-word;
  scroll-behavior: smooth;
}

.card p{
  transform: translateY(100%);
  transition: transform 0.2s ease-in-out;
  will-change: transform;
}

.card:hover p{
  transition-duration: 0.5s;
  transform: translateY(0%);
}

.card span a:hover:focus {
  text-decoration: underline;
}